@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.container {
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  flex-direction: row;
}

.menu {
  align-self: center;
  padding-left: 290px;
}

.headline_section {
  position: relative;
  text-align: center;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primary-text {
  font-size: 45px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 52px;
}

#second {
  color: #36b37e;
}

.second-text {
  width: 327px;
  height: 164px;
  font-weight: 400;
  font-size: 20px;
  align-items: center;
  text-align: center;
}

.links {
  padding-right: 40px;
  padding-top: 40px;
}

#links-list {
  list-style-type: none;
}

#links-list li {
  display: inline;
  padding: 6px;
}

#action {
  position: absolute;
  padding-top: 30px;
}

.works {
  display: grid;
  row-gap: 20px;
  grid-template-rows: auto;
}

.card {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  width: 327px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

#Recent-Works-Text {
  text-align: center;
  width: 327px;
  height: 97px;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  line-height: 52px;
  padding-left: 85px;
}

.img-Plaholder {
  background-color: #ebf0ee;
  width: 327px;
  height: 230px;
  align-items: center;
  justify-content: center;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.project-detail {
  width: 327px;
  height: 222px;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

#card-text {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  width: 295px;
  height: 57px;
  padding-left: 20px;
  line-height: 32px;
  text-align: center;
}

#work-list {
  margin: 0;
  padding-left: 20px;
}

#work-list li {
  display: inline;
  font-family: 'Inter', sans-serif;
  padding: 6px;
  background-color: #ebf0ee;
  border-radius: 4px;
}

.see-project-button {
  font-family: 'Inter', sans-serif;
  background-color: #36b37e;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border-radius: 4px;
  margin-left: 110px;
  margin-top: 40px;
  cursor: pointer;
}

.about-title {
  display: flex;
  justify-content: flex-end;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  height: 100px;
}

.about-detail {
  width: 351px;
  height: 189px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  margin-left: 70px;
}

#about-text {
  font-size: 40px;
  padding-right: 90px;
}

.green-button {
  background-color: #36b37e;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  border-radius: 4px;
  margin-top: 15px;
  margin-left: 180px;
}

.category {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 352px;
  background-color: #ebf0ee;
  align-items: center;
  margin-left: 85px;
  border-radius: 8px;
}

.categoery-title {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

#category-list-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#category-list-ul li {
  display: inline;
  background-color: #fff;
  color: #36b37e;
  margin: 2px;
  padding: 8px;
  border-radius: 8px;
}

.category-2nd-list {
  padding-top: 20px;
  padding-right: 50px;
}

#category-2nd-list-ul li {
  display: inline;
  background-color: #fff;
  color: #36b37e;
  margin: 2px;
  padding: 12px;
  border-radius: 8px;
}

.about {
  display: grid;
  row-gap: 20px;
  grid-template-rows: auto;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

#form-desc {
  width: 327px;
  height: 320px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding-left: 40px;
  margin-bottom: 100px;
}

input {
  margin-bottom: 30px;
}

#fname,
#email {
  width: 327px;
  height: 48px;
  border-radius: 4px;
}

#textarea {
  width: 327px;
  height: 114px;
  border-radius: 4px;
  border-color: #60c095;
}

#get-in-btn {
  margin-top: 20px;
  margin-left: 110px;
}

#links-2 {
  margin-left: 80px;
  margin-top: 10px;
}

#footer-email {
  width: 375px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #42526e;
  margin-left: 25px;
}
