@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

/* ----------------Moile Version-------------- */

.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: none;
}

#logo-image {
  padding-left: 15%;
  padding-top: 15%;
}

.toolbar {
  display: flex;
  flex-direction: row;
}

.menu {
  align-self: center;
  padding-left: 290px;
}

.headline_section {
  position: relative;
  text-align: center;
}

#headline-img-desktop {
  display: none;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primary-text {
  font-size: 45px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 52px;
}

#second {
  color: #36b37e;
}

.second-text {
  width: 327px;
  height: 164px;
  font-weight: 400;
  font-size: 20px;
  align-items: center;
  text-align: center;
}

.links {
  padding-right: 40px;
  padding-top: 40px;
}

#links-list {
  list-style-type: none;
}

#links-list li {
  display: inline;
  padding: 6px;
}

#action {
  position: absolute;
  padding-top: 30px;
}

.cards-group {
  display: grid;
  grid-template-rows: auto;
  row-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  width: 327px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  align-items: center;
  transition: width 1s, height 2s;
}

.card:hover,
.category:hover {
  box-shadow: 0 8px 16px 0 #36b37e;
  width: 330px;
  height: auto;
}

#Recent-Works-Text {
  text-align: center;
  width: 327px;
  height: auto;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  line-height: 52px;
  padding-left: 60px;
}

.img-Plaholder {
  background-color: #ebf0ee;
  width: 327px;
  height: 230px;
  align-items: center;
  justify-content: center;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.project-detail {
  width: 327px;
  height: 222px;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

#card-text {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  width: 295px;
  height: 57px;
  padding-left: 20px;
  line-height: 32px;
  text-align: center;
}

#work-list {
  margin: 0;
  padding-left: 20px;
}

#work-list li {
  display: inline;
  font-family: 'Inter', sans-serif;
  padding: 6px;
  background-color: #ebf0ee;
  border-radius: 4px;
}

.see-project-button {
  font-family: 'Inter', sans-serif;
  background-color: #36b37e;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border-radius: 4px;
  margin-left: 110px;
  margin-top: 40px;
  cursor: pointer;
}

.about-title {
  display: flex;
  justify-content: flex-end;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  height: 100px;
}

.about-detail {
  width: 351px;
  height: 189px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  margin-left: 70px;
}

#about-text {
  font-size: 40px;
  padding-right: 90px;
}

.green-button {
  background-color: #36b37e;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 180px;
}

.skills {
  display: grid;
  row-gap: 20px;
}

.category {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 352px;
  background-color: #ebf0ee;
  align-items: center;
  margin-left: 85px;
  border-radius: 8px;
}

.categoery-title {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

#category-list-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#category-list-ul li {
  display: inline;
  background-color: #fff;
  color: #36b37e;
  margin: 2px;
  padding: 8px;
  border-radius: 8px;
}

.category-2nd-list {
  padding-top: 20px;
  padding-right: 50px;
}

#category-2nd-list-ul li {
  display: inline;
  background-color: #fff;
  color: #36b37e;
  margin: 2px;
  padding: 12px;
  border-radius: 8px;
}

.about {
  display: grid;
  row-gap: 20px;
  grid-template-rows: auto;
}

.form-section {
  display: flex;
  flex-direction: column;
}

#form-desc {
  width: 327px;
  height: 320px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding-left: 18%;
  margin-bottom: 100px;
}

.form {
  margin-left: 17%;
}

input {
  margin-bottom: 30px;
}

#fname,
#email {
  width: 327px;
  height: 48px;
  border-radius: 4px;
}

#textarea {
  width: 327px;
  height: 114px;
  border-radius: 4px;
  border-color: #60c095;
}

#get-in-btn {
  margin-top: 20px;
  margin-left: 110px;
}

#links-2 {
  margin-left: 24%;
  margin-top: 10px;
}

#footer-email {
  width: 375px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #42526e;
  margin-left: 25px;
}

.green-button:hover,
.see-project-button:hover {
  background-color: #2cd890;
}

.green-button:active,
.see-project-button:active {
  background-color: #49c04d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* ---------------Mobile Vesrion Ends Here--------------- */

/* -----------------------Desktop Vesrion Started----------------------- */

@media screen and (min-width: 768px) {
  #headline-img-desktop {
    display: block;
    width: 100%;
  }

  .navbar {
    display: block;
    margin-left: 38%;
  }

  #navbar-list {
    list-style-type: none;
  }

  #navbar-list li {
    display: inline;
    padding: 12px;
  }

  a:link {
    text-decoration: none;
  }

  #logo-image,
  .menu,
  #headline-img-mobile {
    display: none;
  }

  .text {
    padding-bottom: 10%;
  }

  #links-list {
    margin-right: 8%;
  }

  #action {
    margin-left: 29%;
  }

  .second-text {
    width: 91%;
    height: auto;
  }

  .cards-group {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 30px;
    justify-content: center;
  }

  #Recent-Works-Text {
    width: 100%;
    height: auto;
    padding-left: 2%;
  }

  #about-text {
    padding-right: 345px;
  }

  .about-me {
    width: 100%;
    display: grid;
    row-gap: 30px;
    justify-content: center;
  }

  #get-my-resume-btn {
    margin-left: 27%;
  }

  .about-detail {
    width: 900px;
    height: 96px;
  }

  .about1 {
    display: none;
  }

  .skills {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #form-detail {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
    padding-left: 7%;
  }

  .form-description {
    width: 100%;
  }

  #form-desc {
    width: 100%;
    padding: 10%;
    text-align: justify;
  }

  .form {
    width: 50%;
  }

  #fname,
  #email {
    width: 400px;
    height: 48px;
  }

  #textarea {
    width: 400px;
    height: 114px;
    border-radius: 4px;
    border-color: #60c095;
  }

  #get-in-btn {
    margin-left: 0;
  }

  #footer-email {
    display: none;
  }

  #links-2 {
    margin: 0;
    width: 100%;
    border-top: 2px solid #dfe1e6;
  }

  #links-2 ul {
    margin-left: 45%;
  }
}

/*
--------------Desktop Version Ends Here-------------- */
